*{
  text-align: center;
}

body{
  background-color: #f8f7f7;
}

.adopt-div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 30px;
  background-color: rgb(179, 179, 179);
}

.adopt-form{
  display: flex;
  flex-direction: column;
}

.adopt-form button{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  margin-left:100px ;

}

.adopt-form button:hover{
  background-color: burlywood;
  border: 0px;
  padding: 10px;
}

.form-div{
  background-color: #f8f7f7;
  margin-top: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  border: 1px solid;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  background-color: chocolate;
}

.form input{
  margin-top: 20px;
  border-radius: 5px;
}

.form button{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f8f7f7;
  border: 2px solid;
  padding: 8px;
  width: 90px;
  transition: transform 0.2s;
}

.form button:hover{
  transform: translateY(-2px);
  box-shadow: 2px #f8f7f7;
}

.form button:active{
  transform: translateX(2px) ;
}

.navbar {
  background-color: rgb(87, 48, 20);
  color: #fff;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}

.nav-list a:hover {
  background-color: #555;
}

.active {
  background-color: #555;
  border-radius: 20px;
  padding: 50px;
}

.nav-div{
  margin-bottom: 20px;
}

.pet-button{
  margin-bottom: 20px;
}