.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(240, 71, 9);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.about .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about .title::before{
  content:"";
  position:absolute;
  bottom: 50px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: black;
  transform: translateX(-50%);

}
.about .title::after{
  content:"who we are";
  position:absolute;
  bottom: 41px;
  left: 46.5%;
  font-size: 20px;
  color: rgb(240, 71, 9);
  ;
  padding: 1px
  transform-translateX(-50%);
  background-color:white
}

.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left{
  width: 45%;
}

.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;  
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
.about .about-content .right .text span{
  color: rgb(240, 71, 9);
}
.about .about-content .right p{
  text-align: justify;    
}
.about .about-content .right a{
  display: inline-block;
  background: rgb(240, 71, 9);
  color: cornsilk;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #89CFF0;
  transition: all 0.3s ease;
  text-decoration: none;
}
.about .about-content .right a:hover{
  color: rgb(240, 71, 9);
  background: none;
}

@media  screen and (max-width:480px) {
  .about-img{
      display: none;
  }
  .about .about-content .right{
     display:block;
      width: 80%;
     margin-left: auto;
     margin-right: auto;
  }}