*{
  text-align: center;
}

.adopt-div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 30px;
  background-color: rgb(179, 179, 179);
}

.adopt-form{
  display: flex;
  flex-direction: column;
}

.adopt-form button{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  margin-left:100px ;

}

.adopt-form button:hover{
  background-color: burlywood;
  border: 0px;
  padding: 10px;
}
